# For PyDev (Eclipse)
.project
.pydevproject

# For PyCharm (IntelliJ)
.editorconfig

# Python bytecode and cache
*.pyc
**/__pycache__

# venv
.venv

# Sphinx
docs/_build

# Pytest coverage
.coverage

# Setuptools
*.egg-info
.eggs
dist
/.idea/
